<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <h3 class="masthead-brand">Members Only</h3>
      <nav class="nav nav-masthead justify-content-center">
       <%= link_to 'Messages', '/posts', class: 'nav-link active' %> 
       <%= link_to 'The Odin Project', 'https://www.theodinproject.com/home', class: 'nav-link' %>
       <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %> 
      </nav>
    </header>


    <main role='main' class="inner cover">
      <h1 class="cover-heading">Members Only Landing Page</h1>
      <p class="lead">This is the landing page for my version of the members only app. This is part of the Odin Project curriculum </p>
      <p class="lead"><%= link_to 'Enter', '/posts', class: "btn btn-lg btn-secondary "%></p>
    </main>

    <footer class="mastfoot mt-auto">
     <div class="inner">
      <p>Landing page for members</p> 
      </div> 
    </footer>
</body>
