<section class='showcase'>
  <div class="content">
    <h1>Members Only</h1>
  </div>
  <div class="container">
    <div class="row justify-content-between">
      <div class="square">
        <div class="square">
          
        </div>
      </div>
      <div class="square">
      </div>
      <div class="square">
        <span class='text-wrapper'><%= link_to 'Enter', posts_path%></span>
      </div>
    </div>
  </div>
</section>
